---
layout: archive
page_type: tag
lang: en
permalink: /tag-en/
title: "Posts by Tags"
author_profile: true
---

{% include base_path %}
{% assign lang_filter = 'en' %}
{% assign filtered_posts = site.posts | where: "lang", lang_filter %}
{% include group-by-array collection=filtered_posts field="tags" %}

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}